<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis_t.po.UserMapper">
    <select id="Select" parameterType="int" resultType="com.mybatis_t.po.User">
        SELECT * FROM USER WHERE id =#{id}
    </select>

    <select id="Select_all" resultType="com.mybatis_t.po.User">
        SELECT  * from user
    </select>
    <select id="Select_id_bySection" parameterType="int" resultType="com.mybatis_t.po.User">
        SELECT id,username from `user` WHERE id BETWEEN #{start} and #{end}

    <select id="Select_all" resultType="">
        select * from user

    </select>
    <insert id="InsertUser" parameterType="com.mybatis_t.po.User">
       <selectKey keyProperty="" order="AFTER"></selectKey>
        insert into user
        (username,birthday,sex,address)
        values(#{username},#{birthday},#{sex},#{address})
    </insert>
    <delete id="Delete" parameterType="int">
        DELETE FROM `user` WHERE id =#{id}
    </delete>
</mapper>